# Jupyter Notebook & Python (for beginners)

## Headers, boltic text & comments

You can create **a header** by starting a new cell and then typing the text you want to use for the header. 
Then, click on the "Markdown" option in the toolbar above to change the cell type to Markdown. You can then use the "#" symbol
to create different levels of headers, 
such as **"#" for a level 1 header**, **"##" for a level 2 header**, and so on.

# Header Level 1
## Header Level 2

You can do **baltic** typing with ** text **  and change the cell type to Markdown.

**baltic typing**

To create **a comment**, start a new cell and type the text you want to use for the comment.
Then, click on the "Code" option in the toolbar above to change the cell type to Code. 
You can then add a "#" symbol before the text to create a comment.

In [20]:
# Comment example

# Jupyter notebook shortcuts:

Press A            -     insert a new cell preceding the current cell

Press B            -     to insert a new cell underneath

Press M            -     to modify the current cell to Markdown

Press Y            -     to transform it back to code

Press D + D        -     (press the key twice) to delete all the selected current cell

**---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

## Number & Basic math operations:

**Addition** (+)

In [21]:
x = 5
y = 3

In [22]:
print(x + y)

8

**Subtraction** (-)

In [23]:
x = 5
y = 3

In [24]:
print(x - y)

2

**Multiplication** (*)

In [25]:
x = 5
y = 3

In [26]:
print(x * y)

15

**Division** (/)

In [27]:
x = 5
y = 3

In [28]:
print(x / y)

1.6666666666666667

**Floor Division** (//) returns the quotient of the division between two numbers, rounded down to the nearest integer.

In [29]:
x = 5
y = 3

In [30]:
print(x // y)

1

**Modulus** (%) returns the remainder of the division between two numbers.

In [31]:
x = 5
y = 3

In [32]:
print(x % y)

2

**Exponentiation** (**)

In [33]:
x = 5
y = 3

In [34]:
print(x ** y)

125

**---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

**The order of operations** is determined by the order of precedence of mathematical operators. The order of precedence is as follows:

1) Parentheses (): Expressions in parentheses are evaluated first.
2) Exponentiation **: Exponentiation is performed before any other operation.
3) Multiplication and Division *, /, //, %: These operations are performed next, from left to right.
4) Addition and Subtraction +, -: These operations are performed last, from left to right.

You can use parentheses to override the order of precedence and force a specific order of operations.

In [35]:
x = 5
y = 3
z = 2

# With Parentheses
print((x + y) * z) # 16

# Without Parentheses
print(x + y * z) # 11

# Using exponentiation
print(x ** y + z) # 127

16
11
127

**---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

**Variable naming rules:**

1) Variable names must start with a letter or an underscore. They can contain letters, numbers, and underscores.

2) Variable names are case-sensitive, so myVariable and myvariable would be treated as two different variables.

3) Variable names cannot contain spaces, so use an underscore instead (e.g. my_variable).

4) Variable names cannot start with a number.

5) Variable names cannot be the same as Python keywords (e.g. if, else, for, while, etc.).

6) Variable names should be descriptive and easy to understand.

valid variable names:                                invalid variable names:

my_variable = 5                                      5_invalid = 5 # cannot start with a number
student_name = "John Smith"                          my variable = 10 # contains space
_private_variable = 10                               for = "loop" # same as a python keyword

**---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

# Print & Get User Input:

In Python, you can use the print() function to output text to the console.

# Print

In [36]:
print("Hello World")

Hello World

In [37]:
name = "Tereza"
print("Hello {}! How are you ?".format(name))

Hello Tereza! How are you ?

In [38]:
age = 20
print("My name is {} and I am {} years old.".format(name, age))

My name is Tereza and I am 20 years old.

# Input

In [4]:
name = await input("What is your name? ")

What is your name?  Tereza

In [5]:
print(f"Hello, {name}!")

Hello, Tereza!

In [6]:
age = await input("Enter your age: ")

Enter your age:  30

In [7]:
address = await input("Enter city/town where you live: ")

Enter city/town where you live:  Prague

In [8]:
print(f"Your name is {name}, your age is {age} and you are from {address}.")

Your name is Tereza, your age is 30 and you are from Prague.

In [12]:
a =  await input("Enter a number")
a_int = int(a)

Enter a number 1

In [13]:
b = await input("Enter a number")
b_int = int(b)

Enter a number 5

In [14]:
c = a_int + b_int

In [15]:
print(f"The sum of {a_int} and {b_int} is {c}.")

The sum of 1 and 5 is 6.

**---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

## Strings

In [17]:
first_name = "Tereza" 
last_name = "Kotkova"
full_name = first_name + " " + last_name
print(full_name)

Tereza Kotkova

In [19]:
full_name = full_name.upper()
print(full_name)

TEREZA KOTKOVA

In [20]:
my_list  = full_name.split()
type(my_list)

list

In [21]:
a = "Terka.kotkova22@gmail.com"
b = a.split('@')

In [22]:
b

['Terka.kotkova22', 'gmail.com']

In [23]:
b[0]

'Terka.kotkova22'

In [24]:
b[1]

'gmail.com'

**---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

# List

In [26]:
my_list = ["Tereza", [0, 1, 2, 3], [9, 8, 7, 6]]
print(my_list[0])

Tereza

In [42]:
print(my_list[2][0])
print(my_list[1][0])

9
0

Negative indexing - starts from the end of the list, where -1 represents the last element, -2 represents the second-last element, and so on.

In [32]:
my_list = ["Tereza", [0, 1, 2, 3], [9, 8, 7, 6]]

In [43]:
print(my_list[-1])
print(my_list[-1][-2])

[9, 8, 7, 6]
7

List slicing - is a way to extract a portion of a list by specifying a start and stop index.

In [45]:
my_list = ["Tereza", 0, 1, 2, 3, 9, 8, 7, 6]

In [46]:
print(my_list[0:2]) 
print(my_list[:])
print(my_list[3:])

['Tereza', 0]
['Tereza', 0, 1, 2, 3, 9, 8, 7, 6]
[2, 3, 9, 8, 7, 6]

Number of elements

In [47]:
my_list = ["Tereza", 0, 1, 2, 3, 9, 8, 7, 6]

In [48]:
print(len(my_list))

9

In [49]:
my_list = ["Tereza", [0, 1, 2, 3], [9, 8, 7, 6]]

In [50]:
print(len(my_list))

3

# Dictionaries & Booleans

DICTIONARIES:

In [51]:
my_dict =  {"key1":"value1",
            "key2":"value2",
            "key3":"value3"}

In [52]:
my_dict["key2"]

'value2'

Add new iem in my dictionary

In [53]:
my_dict["key4"] = "value4"

In [54]:
print(my_dict)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

Delete an item in dictionary

In [55]:
del my_dict["key4"]

In [56]:
print(my_dict)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

Delete entire dictionary

In [57]:
del my_dict

In [58]:
print(my_dict)

<class 'NameError'>: name 'my_dict' is not defined

BOOLEANS:

"False" = 0
"True" = 1

In [60]:
x = 10
y = 5

In [61]:
x == y

False

In [62]:
x > y

True

# Tuples & Sets

TUPLE -  is an immutable ordered collection of elements, enclosed in round brackets ( ) . Each element in a tuple is called an item. Tuples can contain elements of different data types, including other tuples.
Once a tuple is created, you can't change its elements, but you can create a new tuple with the modified elements.

In [63]:
tuple_1 = ("Tereza", "Lukas", 10, 15, 100)

In [64]:
tuple_1 [1]

'Lukas'

In [65]:
tuple_1 [1:3]

('Lukas', 10)

SETS - is an unordered collection of unique elements enclosed in curly braces {} or by using the built-in set() function. Sets are used to store unique values, and they are often used to perform mathematical set operations like union, intersection, difference, and symmetric difference.

In [67]:
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 0}

each element must be uniqie !

In [73]:
my_list = {1, 2, 3, 4, 4, 3}
my_set = set(my_list)

In [74]:
print(my_set)

{1, 2, 3, 4}

duplicate elements has been deleted